<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2012 Quantcast Corp.

This software is licensed under the Quantcast Mobile App Measurement Terms of Service
https://www.quantcast.com/learning-center/quantcast-terms/mobile-app-measurement-tos
(the “License”). You may not use this file unless (1) you sign up for an account at
https://www.quantcast.com and click your agreement to the License and (2) are in
compliance with the License. See the License for the specific language governing
permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.quantcast.service"
      android:versionCode="11"
      android:versionName="1.1.0"
      >
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

    <application
            android:label="@string/app_name"
            >
        <receiver android:name="com.quantcast.measurement.service.QCReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
            <meta-data android:name="forward.ToTest"
                       android:value="com.quantcast.measurement.service.QCReferrerReceiver_T" />
        </receiver>
        <activity android:name="com.quantcast.measurement.service.AboutQuantcastScreen"
                android:label="OtherName"/>
        <meta-data android:name="com.quantcast.apiKey" android:value="thevalidapikeyis-awonderfulapikey"/>
    </application>
</manifest>
